/**
 * Created by allezallez on 29/03/17.
 */
div .customfont {
    font-family: "ALongTimeAgo", Arial, Tahoma;
    /*color: #23B7F0;*/
    color: #29D4EB;
    font-size: 3.4vw;
    word-spacing: 1.5vw;
}
div .StarWars{
    font-family: "StarWarsTypo", "Times New Roman", "Bitstream Charter", Times, serif;
    color: #FFE81F ;
}
div .StarWars p{
    text-align: center;
    margin:0;
    line-height: 1.5vh;
}
div .StarWars .closer{
    zoom: 113%;
    margin-top: -4px;
}
/*Animate text*/
.titlesUp{
    -webkit-animation-duration: 200s;
    animation-duration: 200s;
}
@-webkit-keyframes scrollText {
    from {
        top: 100%;
    }
    to {
        top: -250%;
    }
}
@keyframes scrollText {
    from {
        top: 100%;
    }
    to {
        top: -250%;

    }
}
/*Animate title*/
.zoomOut{
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes titleFadeOut {
    from{
        /*zoom: 4200%;  IE */
        -moz-transform: scale(49); /* Firefox */
        -moz-transform-origin: 50%;
        -o-transform: scale(49); /* Opera */
        -o-transform-origin: 50%;
        -webkit-transform: scale(49); /* Safari And Chrome */
        -webkit-transform-origin: 50%;
        transform: scale(49); /* Standard Property */
        transform-origin: 50%;  /* Standard Property */
    }
    70%{
        opacity: 1;
    }
    to{
        /*zoom: 4200%;  IE */
        -moz-transform: scale(0);
        -moz-transform-origin: 50%;
        -o-transform: scale(0);
        -o-transform-origin: 50%;
        -webkit-transform: scale(0);
        -webkit-transform-origin: 50%;
        transform: scale(0);
        transform-origin: 50%;
        opacity: 0;
    }
 }
@keyframes titleFadeOut {
    from{
        /*zoom: 4200%;  IE */
        -moz-transform: scale(49);
        -moz-transform-origin: 50%;
        -o-transform: scale(49);
        -o-transform-origin: 50%;
        -webkit-transform: scale(49);
        -webkit-transform-origin: 50%;
        transform: scale(49);
        transform-origin: 50%;
    }
    70%{
        opacity: 1;
    }
    to{
        -moz-transform: scale(0);
        -moz-transform-origin: 50%;
        -o-transform: scale(0);
        -o-transform-origin: 50%;
        -webkit-transform: scale(0);
        -webkit-transform-origin: 50%;
        transform: scale(0);
        transform-origin: 50%;
        opacity: 0;
    }
}
.titleFadeOut{
    -webkit-animation-name: titleFadeOut;
    animation-name: titleFadeOut;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
}